<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AMARA</title>
    <meta charset="utf-8">
    <meta name="author" content="hassooni">
    <meta name="description" content="yolo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="styles/game.css">
    <script>
      development = true;
    </script>
    <% if ('development' === process.env.NODE_ENV) { %>
    <script>
      development = true;
    </script>
    <% var url = "//localhost:5000/localAssets/";%>
    <script src="//localhost:5000/localAssets/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="//localhost:5000/localAssets/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//localhost:5000/localAssets/font-awesome.min.css"> <!-- load fontawesome -->
    <% } else {%>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <% } %>
    <script>
      var debug = <%=process.env.DEBUG_MODE%>;
    </script>
  </head>
  <body>
    <%if  (authenticated ) {%>
    <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <% if (typeof character === 'undefined'){%>
      <script> 
      window.location.assign('/profile');
      </script>
      <%} else { %>
      <br><% characterRace = character.race %>
      <br><% characterGold = character.gold %>
    <script>
      var localPlayerName = "<%= user && character.name || "unknown" %>";
      var characterType = "<%= user && characterRace || "Fly" %>";
    </script>
    <% }} else{ %>
    <script>
      var localPlayerName = "unknown";
      var characterType = "Fly";
    </script>
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a> <a href=""> Do not support switching tabs yet. Must refresh after. </a>
    <% } %>
    <div id="gameCanvasMargin">
      <canvas id="gameCanvas" height=500 width=800></canvas>
      <div id="c_right">
      <canvas id="utilityCanvas" width="250px" height="320px"></canvas>
      <div id="chat_outer">
        <div id="chat">
        </div>
        <input type="text" name="text" id="text">
        <input type="button" name="send" id="send" value="send">
      </div>
    </div>
    <canvas id="infoBar" height="50px" width="1050px"> </canvas>
    </div>
    <script src="scripts/assetLoader.js"></script>
    <script src="scripts/animationframe.js"></script>
    <script src="scripts/player.js"></script>
    <script src="scripts/fly.js"></script>
    <script src="scripts/redhatter.js"></script>
    <script src="scripts/skelly.js"></script>
    <script src="scripts/bowman.js"></script>
    <script src="scripts/shanker.js"></script>
    <script src="scripts/crevice.js"></script>
    <script src="scripts/spellsandprojectiles.js"></script>
    <script src="scripts/game.js"></script>
    <script src="scripts/keys.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      // Initialise the game
      PORT = <%=process.env.PORT || 5000%>;
      init();
      animate();
      
      localPlayer.setGold(<%= user && characterGold || "0" %>);
    </script>
    <script src="scripts/chat.js"></script>
    <script src="scripts/connecttoarena.js"></script>
  </body>
</html>
