<!DOCTYPE html>
<html lang="en">
  <%- include _head.ejs %>
  <body>
    <script>
     var ip= "<%= ip %>"
    </script>
    <div id="canvas_and_chat">
      <div style="margin-right: 50px;">
	<h3>Arena of the Bits</h3>
	<strong> Still in development! If it's just you here, send a friend a link! (This game is multiplayer!) </strong>
	<a style=" padding-left: 150px;" href="https://www.facebook.com/groups/1603001516631450/">
	   Alpha Testers Facebook Group
	</a>
        <a style="padding-left: 57px;" href="https://www.reddit.com/r/aotb">Subreddit</a>
      </div>
      <%- include _canvas.ejs %>
      <%- include _chat.ejs %>
    </div>
    <%- include _scripts.ejs %>
    <%- include _controls.ejs %>
 </body>
</html>
